<div class="container">

    <h3>Workers</h3>
 
    <div class="col-md-12">
       <a routerLink="/add" class="btn btn-success btn-sm float-right">Add New</a>
    </div>
 
    <table class="table table-striped table-sm">
       <thead>
          <tr>
             <th scope="col">Name</th>
             <th>Sectors</th>
             <th scope="col"></th>
          </tr>
       </thead>
       <tbody>
          <tr *ngFor="let w of workers">
             <td>{{w.name}}</td>
             <td>
                <span *ngFor="let s of w.sectors">
                   {{s.sector.name}},
                </span>
             </td>
 
 
             <td><a href="edit/{{w.id}}" class="btn btn-danger btn-sm pull-right">Edit</a></td>
 
          </tr>
       </tbody>
    </table>
 </div>